.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.backButton {
  padding: 10px 20px;
  text-decoration: none;
  background: rgb(6, 213, 144);
  color: white;
  display: inline-block;
  margin: 10px 10px;

  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

.grayLinkMaps {
  color: gray;
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  padding: 5px 2px 5px 5px;

  text-decoration: none;
  font-weight: bold;
  margin: 5px 1px 5px 5px;
  cursor: pointer;
}
.liApp {
  list-style-type: none;
  text-decoration: none;
}
/*! */
.linkMaps {
  /* Изменить цвет  */
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 2px 5px 5px;
  text-decoration: none;

  margin: 5px 1px 5px 5px;
  cursor: pointer;
}
.ulApp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadCrums {
  font-size: 22px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
}
.backButton:hover {
  text-decoration: underline;
}
.routerul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.routeli {
  display: block;
  padding: 10px;
  margin: 10px;
}

.LinkApp {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
  background: rgb(8, 120, 206);
}
.LinkApp:hover {
  text-decoration: underline;
}

.LinkWork {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
  background: rgb(4, 166, 191);
}
.LinkWork:hover {
  text-decoration: underline;
}
